requests==2.32.5
fastapi==0.116.1
uvicorn[standard]==0.35.0
httpx==0.28.1
numpy==2.3.3
matplotlib==3.10.6
cartopy==0.25.0
xarray==2025.9.0
cfgrib==0.9.15.0
eccodes==2.43.0
Pillow==11.3.0
GDAL==3.6.2
pydantic==2.11.7
python-multipart==0.0.20
aiofiles==24.1.0
ecmwf-opendata==0.3.23
scipy==1.16.2
scikit-image==0.25.2
geojsoncontour==0.5.1
filelock==3.12.2